{# renders one given idea #}
{% load static %}
{% load template_tags %}

<div class="container-lg bg-secondary shadow-lg rounded-lg d-flex flex-row align-items-stretch p-0 mt-3
    position-relative" id="idea{{ idea.id }}">
    {% voting_allowed project.id idea.id as voting_allowed %}
    {% if not idea.is_active %}
        {% if idea.success %}
            <div class="rounded-left p-0 bg-success d-flex align-items-center"
                 style="min-width: 50px; width: 50px;">
                <img src="{% static 'base/icon_check.png' %}" class="p-1" style="width: 50px;" data-toggle="tooltip"
                     data-placement="left"
                     title="Dieser Vorschlag wurde mit {{ idea.get_vote_value }} Stimme(n) unterstützt und erfolgreich
                         umgesetzt.">
            </div>
        {% else %}
            <div class="rounded-left p-0 bg-danger d-flex align-items-center" style="min-width: 50px; width: 50px;">
                <img src="{% static 'base/icon_cross.png' %}" class="p-1" style="width: 50px;" data-toggle="tooltip"
                     data-placement="left"
                     title="Dieser Vorschlag wurde mit {{ idea.get_vote_value }} Stimme(n) unterstützt und abgelehnt.">
            </div>
        {% endif %}
    {% else %}
        <div id="background{{ idea.id }}" class="rounded-left p-0 d-flex flex-row {{ idea.get_css }}">
            {% if voting_allowed %}
                <div class="d-flex flex-row justify-content-between flex-fill">
                    <button type="button" class="btn btn-outline-danger btn-block border-0 m-0 downvote"
                            data-toggle="tooltip" id="{{ idea.id }}"
                            data-placement="left"
                            title="Mit diesem Button stimmst du gegen dieses Feedback und ihm wird eine Stimme
                                    abgezogen.">
                        <i class="arrow-down"></i>
                    </button>
                    <button type="button" id="{{ idea.id }}"
                            class="btn btn-outline-secondary btn-block border-0 flex-fill m-0 pl-1 pr-1 pt-0 pb-0
                                neutralvote"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Mit diesem Button drückst du aus, dass du neutral zu diesem Feedback stehst. Das
                                    Feedback erhält keine Stimme und wird dir zukünftig nicht mehr als neu angezeigt.">
                        <h2 class="text-light m-0" id="rating{{ idea.id }}">{{ idea.get_vote_value }}</h2>
                    </button>
                    <button id="{{ idea.id }}" type="button"
                            class="btn btn-outline-success btn-block border-0 m-0 upvote" data-toggle="tooltip"
                            data-placement="bottom"
                            title="Mit diesem Button unterstützt du dieses Feedback und gibst ihm deine Stimme.">
                        <i class="arrow-up"></i>
                    </button>
                </div>
            {% else %}
                <div style="min-width: 33px;"></div>
                <div class="flex-fill m-0 text-center row align-items-center pl-1 pr-1">
                    <h2 class="text-light m-0 flex-fill">{{ idea.get_vote_value }}</h2>
                </div>
                <div style="min-width: 33px;"></div>
            {% endif %}
        </div>
    {% endif %}
    <div class="d-flex flex-column flex-fill">
        <div class="d-flex bg-dark rounded-right">
            {% has_rating_from_user idea.id request.user.id as rating_exists %}
            {% if not rating_exists and voting_allowed and not archive %}
                <div class="h2 flex-grow-1 mt-1 ml-2">
                        <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Dieses
                            Feedback wird dir als neu angezeigt, weil du hierfür noch nicht abgestimmt hast. Benutze
                            zum Abstimmen die Buttons links.">
                            Neu
                        </span>
                    <a href="{% url 'base:idea' project.id idea.id %}"
                       class=" m-0 text-light text-break">
                        {{ idea.title }}
                    </a>
                </div>
            {% else %}
                <a href="{% url 'base:idea' project.id idea.id %}"
                   class="h2 flex-grow-1 m-0 p-2 text-light text-break">{{ idea.title }}</a>
            {% endif %}
            {% has_star_from_user idea.id request.user.id as star_exists %}
            {% get_free_starcount request.user.id project.id as free_stars %}
            {% if voting_allowed and star_exists and not archive %}
                <button type="button" id="{{ idea.id }}" class="starvote btn border-0 m-0 p-0 d-flex">
                    <img id="star{{ idea.id }}" src="{% static 'base/icon_star_filled.png' %}" class="p-2 align-top"
                         style="height: 40px;"
                         data-toggle="tooltip" data-placement="bottom" title="Du hast dieses Feedback als Favorit
                             markiert und ihm damit eine zusätzliche Stimme gegeben. Klicke hier, um dies rückgängig zu
                             machen.">
                </button>
            {% elif voting_allowed and free_stars > 0 and not archive %}
                <button type="button" id="{{ idea.id }}" class="starvote btn border-0 m-0 p-0 d-flex">
                    <img id="star{{ idea.id }}" src="{% static 'base/icon_star.png' %}" class="p-2 align-top"
                         style="height: 40px;"
                         data-toggle="tooltip" data-placement="bottom" title="Du kannst insgesamt
                                {{ project.stars_count }} Vorschläge als Favoriten festlegen. Diese bekommen dadurch
                                eine zusätzliche Stimme.">
                </button>
            {% else %}
                <button type="button" id="{{ idea.id }}" class="starvote btn border-0 m-0 p-0 d-flex">
                    <img id="star{{ idea.id }}" src="{% static 'base/icon_star.png' %}" class="p-2 align-top"
                         style="height: 40px; display: none;"
                         data-toggle="tooltip" data-placement="bottom" title="Du kannst insgesamt
                                {{ project.stars_count }} Vorschläge als Favoriten festlegen. Diese bekommen dadurch
                                eine zusätzliche Stimme.">
                </button>
            {% endif %}
            {% if not view == 'detail' %}
                {% if idea.comment_set.exists %}
                    <a href="{% url 'base:idea' project.id idea.id %}">
                        <img name="speechbubble"
                             src="{% static 'base/icon_speechbubble_filled.png' %}"
                             class="p-2"
                             style="height: 40px;"
                             data-toggle="tooltip"
                             data-placement="bottom"
                             title="Öffnet Detailansicht für Kommentare"/>
                        </img>
                    </a>
                {% else %}
                    <a href="{% url 'base:idea' project.id idea.id %}">
                        <img name="speechbubble"
                             src="{% static 'base/icon_speechbubble.png' %}"
                             class="p-2"
                             style="height: 40px;"
                             data-toggle="tooltip"
                             data-placement="bottom"
                             title="Öffnet Detailansicht für Kommentare"/>
                        </img>
                    </a>
                {% endif %}
            {% endif %}
            <div>
                {% if project.public_voting %}
                    <img src="{% static 'base/icon_eye.png' %}" class="p-2" style="height: 40px;"
                         data-toggle="tooltip"
                         data-placement="right" name="visibility"
                         title="Dieses Feedback ist öffentlich sichtbar, weil für dieses Projekt das öffentliche
                                Abstimmen erlaubt ist. Diese Einstellung kann von einem Projekt-Administrator angepasst
                                werden."/>
                {% elif idea.is_public_visible %}
                    <img src="{% static 'base/icon_eye.png' %}" class="p-2" style="height: 40px;"
                         data-toggle="tooltip"
                         data-placement="right"
                         title="Dieses Feedback ist öffentlich sichtbar, weil es bereits mindestens
                            {{ project.count_for_success }} Stimme(n) erhalten hat. Dieser Wert kann von
                            Administratoren konfiguriert werden und sorgt dafür, dass Feedback erst sichtbar wird,
                            wenn es von einem bestimmten Anteil des Teams mitgetragen wird."/>
                {% else %}
                    <img src="{% static 'base/icon_noeye.png' %}" class="p-2" style="height: 40px;"
                         data-toggle="tooltip"
                         data-placement="right"
                         title="Dieses Feedback ist nicht öffentlich sichtbar, weil es noch nicht
                            {{ project.count_for_success }} Stimme(n) erhalten hat. Dieser Wert kann von
                            Administratoren konfiguriert werden und sorgt dafür, dass Feedback erst sichtbar wird, wenn
                            es von einem bestimmten Anteil des Teams mitgetragen wird.
                "/>
                {% endif %}
            </div>
        </div>
    </div>
</div>
