{# renders the project overview on the startpage #}
{% extends "base/base.html" %}
{% load static %}
{% load template_tags %}

{% block content %}
    <div class="container-lg align-self-center">
        {% if not projects %}
            <div class="bg-secondary shadow-lg rounded-lg d-flex flex-column mb-3">
                <div class="d-flex flex-row rounded-top bg-dark">
                    <h2 class="h2 m-0 p-2 text-light text-break flex-fill">Kein Projekt gefunden</h2>
                </div>
                <div class="d-flex flex-column">
                    <p class="text-light pt-2 pl-2 pr-2 flex-fill text-break mb-0 pb-0">
                        Aktuell gibt es kein Projekt, für das du berechtigt bist. Bitte melde dich an, erstelle selbst
                        ein Projekt oder kontaktiere einen Projektadministrator, um Zugriff auf ein existierendes
                        Projekt zu erhalten.
                    </p>
                </div>
            </div>
        {% endif %}
        {% if new_project_allowed %}
            <a class="btn btn-success btn-block" href="{% url 'base:newproject' %}">+ Neues Projekt
                anlegen +</a>
        {% endif %}
        {% for project in projects %}
            <div class="bg-secondary shadow-lg rounded-lg d-flex flex-column mt-3">
                <div class="d-flex flex-row rounded-top bg-dark">
                    <h2 class="h2 m-0 p-2 text-light text-break flex-fill">
                        {% if request.session.compactview %}
                            <a class="text-light" href="{% url 'base:projectcompact' project.id %}">
                        {% else %}
                            <a class="text-light" href="{% url 'base:project' project.id %}">
                        {% endif %}
                        {{ project.name }}
                        </a>
                    </h2>
                    {% signal 'opinioxx.base.signals.display_project_icons' project=project %}
                </div>
                <div class="d-flex flex-column">
                    <p class="text-light pt-2 pl-2 pr-2 flex-fill text-break mb-0 pb-0">{{ project.description }}</p>
                    {% if request.session.compactview %}
                        <a class="btn btn-info align-self-end text-nowrap"
                           href="{% url 'base:projectcompact' project.id %}">
                    {% else %}
                        <a class="btn btn-info align-self-end text-nowrap"
                           href="{% url 'base:project' project.id %}">
                    {% endif %}
                    Projekt öffnen
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}