{# confirmation page that e-mail was sent for password forgotton  request #}
{% extends "base/../base/base.html" %}

{% block content %}
    <div class="container align-self-center justify-content-center d-flex">
        <div class="bg-secondary rounded-lg text-light text-center border border-dark shadow-lg">
            <h1 class="bg-dark m-0 rounded-top">Passwort vergessen?</h1>
            <div class="m-3">
                Wir haben eine E-Mail zum Zurücksetzen des Passwortes an die angegebene E-Mail-Adresse gesendet, sofern
                ein entsprechendes Konto existiert. Sie sollte in Kürze ankommen.

                Falls die E-Mail nicht angekommen sein sollte, bitte die E-Mail-Adresse auf Richtigkeit und
                gegebenenfalls den Spam-Ordner überprüfen.
                <a class="btn btn-info btn-sm btn-block mt-4" href="{% url 'base:index' %}">
                    zurück zur Startseite
                </a>
            </div>
        </div>
    </div>
{% endblock %}