{# confirmation page for the password reset  #}
{% extends "base/base.html" %}

{% block content %}
    <div class="container align-self-center justify-content-center d-flex">
        <div class="bg-secondary rounded-lg text-light text-center border border-dark shadow-lg">
            <h1 class="bg-dark m-0 rounded-top">Passwort zurückgesetzt</h1>
            <div class="m-3">
                Dein Passwort wurde erfolgreich zurück gesetzt. Bitte melde dich mit dem neuen Passwort neu an.
                <a class="btn btn-info btn-sm btn-block mt-4" href="{% url 'base:index' %}">
                    zurück zur Startseite
                </a>
            </div>
        </div>
    </div>
{% endblock %}