{# form to set new password #}
{% extends "base/base.html" %}

{% block content %}
    <div class="container align-self-center justify-content-center d-flex">
        <div class="bg-secondary rounded-lg text-light text-center border border-dark shadow-lg">
            <h1 class="bg-dark m-0 rounded-top">Passwort vergeben</h1>
            <div class="m-3">
                {% if validlink %}
                    <div>Bitte gib unten dein neues Passwort ein.</div>
                    <form method="post" class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <input type="submit" value="Passwort ändern" class="btn btn-info mt-3">
                    </form>
                {% else %}
                    <div>Dein Link zum Zurücksetzen des Passworts ist abgelaufen.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}