{# password reset form #}
{% extends "base/base.html" %}

{% block content %}
    <div class="container align-self-center justify-content-center d-flex">
        <div class="bg-secondary rounded-lg text-light text-center border border-dark shadow-lg">
            <h1 class="bg-dark m-0 rounded-top">Passwort vergessen?</h1>
            <div class="m-3">
                <div>
                    Um dein Passwort zurückzusetzen, gib bitte deine E-Mail-Adresse unten ein und folge den
                    Anweisungen zum Zurücksetzen des Passworts in der E-Mail.
                </div>
                <form method="post" action="{% url 'base:password_reset' %}" class="form">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <input type="submit" value="Passwort zurücksetzen" class="btn btn-info mt-3">
                </form>
            </div>
        </div>
    </div>
{% endblock %}